@model Repository.Models.Reservation_History

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation_History</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverallCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverallCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservedHouses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservedHouses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservedAttractions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservedAttractions)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
