@model Repository.ViewModels.NewReservation

@{
    ViewBag.Title = "AddHouses";
}

<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            var countAvaiable = '@Model.AvaiableHouses.ToList().Count';
            if (countAvaiable < 1)
            {
                document.getElementById("btnAddHouse").style.visibility = 'hidden';
                document.getElementById("btnShowDescription").style.visibility = 'hidden';
            }
            else
            {
                document.getElementById("btnAddHouse").style.visibility = 'visible';
                document.getElementById("btnShowDescription").style.visibility = 'visible';
            }
            var countSelected = '@Model.SelectedHouses.ToList().Count';
            if (countSelected < 1) {
                document.getElementById("btnRemoveSelected").style.visibility = 'hidden';
                document.getElementById('btnConfirmHouses').style.visibility = 'hidden'
            }
            else {
                document.getElementById("btnRemoveSelected").style.visibility = 'visible';
                document.getElementById('btnConfirmHouses').style.visibility = 'visible'
            }
        });
    </script>

    <script type="text/javascript">
            $(function () {
                $("#btnShowDescription").click(function () {
                    $.ajax({
                        type: "POST",
                        url: "/ClientReservations/GetHouseDescription",
                        data: '{name: "' + $('select[name="ReservationAvaiableHouses"]').val().split('(')[1].slice(0, -2) + '"  }',
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function (response) {
                            $('#description').html(response)
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                });
            });
    </script>

    <script type="text/javascript">
            $(function () {
                $("#btnAddHouse").click(function () {
                    document.getElementById('description').innerHTML = "";
                    var data = {
                        name: $('select[name="ReservationAvaiableHouses"]').val(),
                        isAdd: 'true',
                        __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
                    };
                    $.ajax({
                        type: "POST",
                        url: "/ClientReservations/ChangeSelectedHouses",
                        data: data,
                        dataType: "text",
                        success: function (response) {
                            window.location.reload()
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                });
            });
    </script>

    <script type="text/javascript">
            $(function () {
                $("#btnRemoveSelected").click(function () {
                    var data = {
                        name: $('select[name="ReservationSelectedHouses"]').val(),
                        isAdd: 'false',
                        __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
                    };
                    $.ajax({
                        type: "POST",
                        url: "/ClientReservations/ChangeSelectedHouses",
                        data: data,
                        dataType: "text",
                        success: function (response) {
                            window.location.reload()
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                });
            });
    </script>

</head>

<h2>Wybierz domki</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Domek</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Rodzaje domków", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ReservationAvaiableHouses", Model.AvaiableHouses)
                <input type="button" id="btnShowDescription" value="Opis" />
                <div id="description" style="display:inline-flex">

                </div>
            </div>
           
        </div>

        <div class="form-group">
            @Html.Label("Wybrane domki", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ReservationSelectedHouses", Model.SelectedHouses)
                <input type="button" id="btnRemoveSelected" value="Usuń zaznaczenie" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="button" id="btnAddHouse" value="Dodaj domek" class="btn btn-default" /> 
                <input type="submit" id="btnConfirmHouses" value="Potwierdź domki" class="btn btn-default" style="visibility:hidden" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Wróć", "Create")
</div>
