@model Dictionary<string,List<SelectListItem>>

@{
    ViewBag.Title = "AddHouses";
}

<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $(".SelectListHouses").change(function () {
                $('#description').html('')
            });
        })
    </script>

    <script type="text/javascript">
        function handler(e) {
            var source = e.srcElement.id;
            if (source == 'HousesSelectedHouses')
            {
                var index = $('#HousesSelectedHouses').get(0).selectedIndex;
                var selectedText = $('#HousesListBoxSelected option:eq(' + index + ')').text();

                var regExp = /\(([^)]+)\)/;
                var matches = regExp.exec((selectedText.split('|')[1]));
                var labelHousePrice = document.getElementById('labelHousePrice');
                labelHousePrice.innerHTML = matches[1];
            }
        }
    </script>

    <script type="text/javascript">
            function checkStateDropDownLists(avaiable,selected) {
                if (avaiable < 1) {
                    document.getElementById("btnAddHouse").style.visibility = 'hidden';
                    document.getElementById("btnShowDescription").style.visibility = 'hidden';
                }
                else {
                    document.getElementById("btnAddHouse").style.visibility = 'visible';
                    document.getElementById("btnShowDescription").style.visibility = 'visible';
                }
                if (selected < 1) {
                    document.getElementById("btnRemoveSelected").style.visibility = 'hidden';
                    document.getElementById('btnConfirmHouses').style.visibility = 'hidden'
                }
                else {
                    document.getElementById("btnRemoveSelected").style.visibility = 'visible';
                    document.getElementById('btnConfirmHouses').style.visibility = 'visible'
                }
            }
    </script>

    <script type="text/javascript">
        $(function () {
            $("#btnAddHouse").click(function () {
                var avaiable = document.getElementById('HousesAvaiableHouses');

                var selectedValue = avaiable.options[avaiable.selectedIndex].value;
                var selectedText = avaiable.options[avaiable.selectedIndex].text;
                avaiable.remove(avaiable.selectedIndex);

                var selected = document.getElementById('HousesSelectedHouses');
                var option = document.createElement('option');
                option.text = option.value = selectedText;
                option.selected = true;
                selected.add(option, 0);

                var listBox = document.getElementById('HousesListBoxSelected');
                var option2 = document.createElement('option');
                option2.text = selectedValue;
                option2.value = selectedText;
                option2.selected = true;
                listBox.add(option2, 0);

                var labelHousePrice = document.getElementById('labelHousePrice');
                var regExp = /\(([^)]+)\)/;
                var matches = regExp.exec(selectedValue.split('|')[1]);
                labelHousePrice.innerHTML = matches[1];

                var labelOverallCost = document.getElementById('housesOverallCost');
                var number = parseInt(labelOverallCost.value, 10);
                number += parseInt(matches[1].split('[')[0], 10) * parseInt(@ViewBag.StayLength,10);
                labelOverallCost.value = number;

                checkStateDropDownLists(document.getElementById('HousesAvaiableHouses').length, document.getElementById('HousesSelectedHouses').length);
                $('#description').html('')
            });
            checkStateDropDownLists(document.getElementById('HousesAvaiableHouses').length, document.getElementById('HousesSelectedHouses').length);
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#btnRemoveSelected").click(function () {
                var selectedValue = $('#HousesSelectedHouses option:selected').text();
                var index = $('#HousesSelectedHouses').get(0).selectedIndex;
                $('#HousesSelectedHouses option:eq(' + index + ')').remove();

                var listBox = document.getElementById('HousesListBoxSelected');
                var selectedText = $('#HousesListBoxSelected option:eq(' + index + ')').text();
                $('#HousesListBoxSelected option:eq(' + index + ')').remove();

                var labelHousePrice = document.getElementById('labelHousePrice');
                var regExp = /\(([^)]+)\)/;
                var matches = regExp.exec($('#HousesListBoxSelected option:selected').text().split('|')[1]);

                var labelOverallCost = document.getElementById('housesOverallCost');
                var number = parseInt(labelOverallCost.value, 10);
                number -= parseInt(labelHousePrice.innerHTML.split('[')[0], 10) * parseInt(@ViewBag.StayLength,10);
                labelOverallCost.value = number;

                if ($('#HousesSelectedHouses>option').length >= 1)
                {
                    labelHousePrice.innerHTML = matches[1];
                }
                else
                {
                    labelHousePrice.innerHTML = 'Cena domku';
                }

                $('#HousesAvaiableHouses')
                        .append($("<option></option>")
                        .attr("selected", "selected")
                        .text(selectedValue)
                        .val(selectedText));
                checkStateDropDownLists(document.getElementById('HousesAvaiableHouses').length, document.getElementById('HousesSelectedHouses').length);
                $('#description').html('')
            });
        });
    </script>

    <script type="text/javascript">
            $(function () {
                $("#btnShowDescription").click(function () {
                    var regExp = /\(([^)]+)\)/;
                    var matches = regExp.exec($('select[name="HousesAvaiableHouses"]').val());
                    $.ajax({
                        type: "POST",
                        url: "/ClientReservations/GetHouseDescription",
                        data: '{name: "' + matches[1] + '"  }',
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function (response) {
                            $('#description').html(response)
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                });
            });
    </script>
</head>

<h2>Wybierz domki</h2>

@using (Html.BeginForm("AddHouses","ClientReservations",new { isHousesConfirmed = true}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Domek</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div id="housesDropdownLists">

            <div class="form-group">
                @Html.Label("Rodzaje domków", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("HousesAvaiableHouses", Model["Avaiable"], new { id = "HousesAvaiableHouses",@class = "SelectListHouses" })
                    <input type="button" id="btnShowDescription" value="Opis" />
                    <div id="description" style="display:inline-flex">

                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Liczba dni", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" id="housesStayLength" name="housesStayLength" readonly="readonly" value="@ViewBag.StayLength" />
                </div>

            </div>

            <div class="form-group">
                @Html.Label("Wybrane domki", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("HousesSelectedHouses", Model["Selected"], new { id = "HousesSelectedHouses", @class = "SelectListHouses", onchange = "handler(event)" })
                    @Html.Label("Cena domku", new { id = "labelHousePrice", style = "border: 1px solid black;font-weight: normal;" })
                    <input type="button" id="btnRemoveSelected" value="Usuń zaznaczenie"  />
                </div>
            </div>

            <div id="DivHousesOverallCost">
                @Html.Label("Całkowity koszt", htmlAttributes: new { @class = "control-label col-md-2" })
                <input type="text" id="housesOverallCost" name="housesOverallCost" readonly="readonly" value="@ViewBag.OverallCost" />
            </div>

            @Html.ListBox("HousesListBoxSelected", Model["Selected"], new { id = "HousesListBoxSelected", style="visibility:hidden" })

        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="button" id="btnAddHouse" value="Dodaj domek" class="btn btn-default"  />
                <input type="submit" id="btnConfirmHouses" value="Potwierdź domki" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Wróć", "Create")
</div>
