@model Dictionary<string,List<SelectListItem>>

@{
    ViewBag.Title = "AddMeals";
}

<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
            function checkStateDropDownLists(avaiable,selected) {
                if (avaiable < 1) {
                    document.getElementById("btnAddHouseMeal").style.visibility = 'hidden';
                }
                else {
                    document.getElementById("btnAddHouseMeal").style.visibility = 'visible';
                }
                if (selected < 1) {
                    document.getElementById("btnRemoveSelectedHouseMeal").style.visibility = 'hidden';
                    document.getElementById('btnConfirmHousesMeals').style.visibility = 'hidden'
                }
                else {
                    document.getElementById("btnRemoveSelectedHouseMeal").style.visibility = 'visible';
                    document.getElementById('btnConfirmHousesMeals').style.visibility = 'visible'
                }
            }
    </script>

    <script type="text/javascript">
        $(function () {
            $("#btnAddHouseMeal").click(function () {
                var selectedHouses = document.getElementById('MealsSelectedHouses');
                var selectedHouseValue = selectedHouses.options[selectedHouses.selectedIndex].value;
                selectedHouses.remove(selectedHouses.selectedIndex);

                var avaiableMeals = document.getElementById('MealsAvaiableMeals');
                var selectedMealValue = avaiableMeals.options[avaiableMeals.selectedIndex].value;

                var selectedHouseMeal = document.getElementById('MealsSelectedHousesMeals');
                var option = document.createElement('option');
                option.text = option.value = selectedHouseValue + selectedMealValue;
                option.selected = true;
                selectedHouseMeal.add(option, 0);

                var listBox = document.getElementById('ListBoxSelectedHousesMeals');
                var option2 = document.createElement('option');
                option2.text = option2.value = selectedHouseValue + selectedMealValue;
                option2.selected = true;
                listBox.add(option2, 0);

                checkStateDropDownLists(document.getElementById('MealsSelectedHouses').length, document.getElementById('MealsSelectedHousesMeals').length);
            });
            checkStateDropDownLists(document.getElementById('MealsSelectedHouses').length, document.getElementById('MealsSelectedHousesMeals').length);
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#btnRemoveSelectedHouseMeal").click(function () {
                var selectedValue = $('#MealsSelectedHousesMeals option:selected').text();
                var index = $('#MealsSelectedHousesMeals').get(0).selectedIndex;
                $('#MealsSelectedHousesMeals option:eq(' + index + ')').remove();

                var listBox = document.getElementById('ListBoxSelectedHousesMeals');
                $('#ListBoxSelectedHousesMeals option:eq(' + index + ')').remove();

                selectedValue = selectedValue.split(';')[0] + ';';

                $('#MealsSelectedHouses')
                        .append($("<option></option>")
                        .attr("selected", "selected")
                        .text(selectedValue)
                        .val(selectedValue));
                checkStateDropDownLists(document.getElementById('MealsSelectedHouses').length, document.getElementById('MealsSelectedHousesMeals').length);
            });
        });
    </script>

</head>

<h2>Wybierz posiłki</h2>

@using (Html.BeginForm("AddMeals", "ClientReservations",new { isMealsConfirmed=true}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Domek</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Wybrane domki", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MealsSelectedHouses", Model["SelectedHouses"], new { id= "MealsSelectedHouses" })
            </div>

        </div>

        <div class="form-group">
            @Html.Label("Dostępne posiłki", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MealsAvaiableMeals", Model["AvaiableMeals"], new { id= "MealsAvaiableMeals" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Wybrane posiłki", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MealsSelectedHousesMeals", Model["SelectedMeals"], new { id= "MealsSelectedHousesMeals" })
                <input type="button" id="btnRemoveSelectedHouseMeal" value="Usuń zaznaczenie" />
            </div>
        </div>

        @Html.ListBox("ListBoxSelectedHousesMeals",Model["SelectedMeals"],new { id= "ListBoxSelectedHousesMeals", style="visibility:hidden"})

        <div class="form-group">
            <div class="col-md-10">
                <input type="button" id="btnAddHouseMeal" value="Dodaj posiłek" class="btn btn-default" />
                <input type="submit" id="btnConfirmHousesMeals" value="Potwierdź posiłki" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Wróć", "Create")
</div>
