@model ViewModel.NewReservation
@using Newtonsoft.Json

@{
    ViewBag.Title = "Create";
}


<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/CreateReservationStyleSheet.css" rel="stylesheet">

    @if (Model != null)
    {
                if(Model.StartDate != null)
                {
                    <script>
                        $(function () {
                            document.getElementById('termSection').disabled = 'true';
                        });
                    </script>
                    if (Model.AssignedHousesMeals.Keys.ToList().Count >= 1)
                    {
                        <script>
                            $(function () {
                                document.getElementById('housesSection').disabled = 'true';
                                
                            });
                        </script>
                        if(Model.AssignedHousesMeals.First().Value != -1)
                        {
                            <script>
                                $(function () {
                                    document.getElementById('mealsSection').disabled = 'true';
                                });
                            </script>
                            if(Model.AssignedParticipantsHouses.Keys.ToList().Count >=1 && Model.stagesConfirmation[3]==true)
                            {
                                <script>
                                    $(function () {
                                        document.getElementById('participantsSection').disabled = 'true';
                                    });
                                </script>
                                if(Model.AssignedAttractions.Keys.ToList().Count >=1 && Model.stagesConfirmation[4]==true)
                                {
                                    <script>
                                        $(function () {
                                            document.getElementById('attractionsSection').disabled = 'true';
                                        });
                                    </script>
                                }
                                else
                                {
                                    <script>
                                        $(function () {
                                            $('#attractionsSection').prop('disabled', false);
                                        });
                                    </script>
                                }
                            }
                            else
                            {
                                <script>
                                    $(function () {
                                        $('#participantsSection').prop('disabled', false);
                                        document.getElementById('attractionsSection').disabled = 'true';
                                    });
                                </script>
                            }
                        }
                        else
                        {
                            <script>
                                $(function () {
                                    $('#mealsSection').prop('disabled', false);
                                    document.getElementById('participantsSection').disabled = 'true';
                                    document.getElementById('attractionsSection').disabled = 'true';
                                });
                            </script>
                        }
                    }
                    else
                    {
                        <script>
                            $(function () {
                                $('#housesSection').prop('disabled', false);
                                document.getElementById('mealsSection').disabled = 'true';
                                document.getElementById('participantsSection').disabled = 'true';
                                document.getElementById('attractionsSection').disabled = 'true';
                            });
                        </script>
                    }
                }
                else
                {
                    <script>
                        $(function () {
                            $('#termSection').prop('disabled', false);
                            document.getElementById('housesSection').disabled = 'true';
                            document.getElementById('mealsSection').disabled = 'true';
                            document.getElementById('participantsSection').disabled = 'true';
                            document.getElementById('attractionsSection').disabled = 'true';
                        });
                    </script>

        }
        <script>
                    $(function () {
                        var stagesCount = '@Model.stagesConfirmation.Where(item=>item.Equals(true)).ToList().Count';
                        if (stagesCount >= 4) {
                            document.getElementById('finalConfirmReservation').style.visibility = 'visible';
                        }
                    });
        </script>
        <script type="text/javascript">
            var stagesConformation = [];
            $(function () {
                
            });
        </script>
        
        foreach (bool item in Model.stagesConfirmation)
        {
            <script>
            $(function(){
                stagesConformation.push(@Html.Raw(JsonConvert.SerializeObject(item)));
            });
            </script>
        }

        <script>
        $(function () {
            var x = document.getElementsByClassName("stages");

            for(var i=0;i<x.length;i++)
            {
                if (stagesConformation[i] === true)
                {
                    x[i].classList.remove("btn-danger");
                    x[i].className += " btn-success";
                    x[i].firstChild.classList.remove("glyphicon-remove");
                    x[i].firstChild.className +=" glyphicon-ok";
                }
            }
        });
        </script>

    }

   
</head>

@if ((string)ViewBag.ConcurrencyErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ConcurrencyErrorMessage
    </div>
}

<h2>Dodaj rezerwację</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Rezerwacja</h4>
        <hr />
            <input type="button" id="termSection" value="Termin" onclick="location.href='@Url.Action("AddTerm", "ReservationDetails")'"/>

            <input type="button" id="housesSection" value="Domki" onclick="location.href='@Url.Action("AddHouses", "ReservationDetails")'" disabled="disabled" />

            <input type="button" id="mealsSection" value="Posiłki" onclick="location.href='@Url.Action("AddMeals", "ReservationDetails")'" disabled="disabled" />
            
            <input type="button" id="participantsSection" value="Uczestnicy" onclick="location.href='@Url.Action("AddParticipants", "ReservationDetails")'" disabled="disabled" />

            <input type="button" id="attractionsSection" value="Warsztaty" onclick="location.href='@Url.Action("AddAttractions","ReservationDetails")'" disabled="disabled" />

            <div style="clear:both;margin-bottom:20px;"></div>

            <div class="divStages">
                <button type="button" class="btn btn-danger btn-round stages" ><span class="glyphicon glyphicon-remove"></span></button>
            </div>

            <div class="divStages">
                <button type="button" class="btn btn-danger btn-round stages"><span class="glyphicon glyphicon-remove"></span></button>
            </div>

            <div class="divStages">
                <button type="button" class="btn btn-danger btn-round stages"><span class="glyphicon glyphicon-remove"></span></button>
            </div>

            <div class="divStages">
                <button type="button" class="btn btn-danger btn-round stages"><span class="glyphicon glyphicon-remove"></span></button>
            </div>

            <div class="divStages">
                <button type="button" class="btn btn-danger btn-round stages"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
    </div>

    <div style="clear:both;margin-bottom:20px;"></div>

    <div class="form-group">
        <div class="col-md-2">
            <input type="submit" id="finalConfirmReservation" value="Potwierdź rezerwację" class="btn btn-default" style="visibility:hidden" />
        </div>
        <div class="col-md-10">

        </div>
    </div>

    @Html.HiddenFor(model=>model.StartDate)
    @Html.HiddenFor(model=>model.EndDate)

}

<div style="clear:both">
    @Html.ActionLink("Wróć", "Index")
</div>
