@model Repository.ViewModels.ReservationDetails


@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>

<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function handler(e) {
            document.getElementById('DetailsSelectHouse').style.visibility = 'hidden';
        }
    </script>


    <script type="text/javascript">
            $(function () {
                $("#btnGet").click(function () {
                    $.ajax({
                        type: "POST",
                        url: "/ClientReservations/GetHouseDetails",
                        data: '{id: "' + $("#idValue").val() + '",name:"' + $("#SelectedHouseDetailsId option:selected").text() + '" }',
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function (response) {
                            $('#DetailsSelectHouse').html(response)
                            document.getElementById('DetailsSelectHouse').style.visibility = 'visible';
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                });
            });
    </script>

</head>

<div>
    <h2>Szczegóły rezerwacji</h2>

        <h4>Rezerwacja</h4>
        <hr />

        @Html.HiddenFor(model => model.SelectedHouseDetailsText)

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Reservation.Client.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reservation.Client.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Reservation.Client.Surname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reservation.Client.Surname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Reservation.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reservation.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Reservation.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reservation.EndDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Reservation.DeadlinePayment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reservation.DeadlinePayment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Reservation.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reservation.Status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Reservation.OverallCost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reservation.OverallCost)
            </dd>
        </dl>

        <div class="form-group">
            @Html.Label("Domki", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SelectedHouseDetailsId", Model.Houses,new { onchange = "handler(event)" })
            </div>
        </div>

        <input type="hidden" id="idValue" value=@Model.Reservation.Id />
        <input type="button" id="btnGet" value="Wyświetl" />


        

    <div id="DetailsSelectHouse" style="visibility:hidden">

    </div>

    <p>
        @Html.ActionLink("Wróć", "Index")
    </p>
    </div>
