@model Repository.ViewModels.NewReservation

@{
    ViewBag.Title = "Edit";
}

<h2>Edytuj</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Rezerwacja</h4>
        <hr />

        <input type="button" id="editMealsSection" value="Posiłki" onclick="location.href='@Url.Action("EditMeals", "ReservationDetails",new { id=ViewBag.ReservationId})'" />
        <input type="button" id="editParticipantsSection" value="Uczestnicy" onclick="location.href='@Url.Action("EditParticipants", "ReservationDetails",new { id=ViewBag.ReservationId})'" />
    </div>

    <div id="content">

    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="editConfirmReservation" value="Potwierdź rezerwację" class="btn btn-default" />
        </div>
    </div>

    @Html.HiddenFor(model => model.StartDate)
    @Html.HiddenFor(model => model.EndDate)
    <input type="hidden" id="ReservationId" name="ReservationId" readonly="readonly" value="@ViewBag.ReservationId" />

}

<div>
    @Html.ActionLink("Wróć", "Index")
</div>
