@model PagedList.IPagedList<DomainModel.Models.Reservation>
@using PagedList.Mvc
@using DomainModel.Models

@{
    ViewBag.Title = "Index";
}

<h2>Lista rezerwacji użytkownika</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("LP")
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].DeadlinePayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].OverallCost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Select((value, i) => new { i, value }))
{
        Reservation value = item.value;
        int index = item.i + 1;
        <tr>
            <td>
                @index.ToString()
            </td>
            <td>
                @value.StartDate.ToShortDateString()
            </td>
            <td>
                @value.EndDate.ToShortDateString()
            </td>
            <td>
                @value.DeadlinePayment.ToShortDateString()
            </td>
            <td>
                @value.Status
            </td>
            <td>
                @value.OverallCost
            </td>
            <td>
                @Html.ActionLink("Szczegóły", "Details", new { id = value.Id })
                @if (value.Status.Equals("oczekiwanie"))
                {
                    @Html.ActionLink("Edytuj", "Edit", new { id = value.Id })
                    @Html.ActionLink("Usuń", "Delete", new { id = value.Id })
                }              
            </td>
        </tr>
}
</table>

<div>
    <br />
    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
