@model PagedList.IPagedList<DomainModel.Models.HouseType>
@using PagedList.Mvc
@using DomainModel.Models;

@{
    ViewBag.Title = "Index";
}

<h2>Lista typów domu</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("LP")
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Select((value, i) => new { i, value }))
    {
        HouseType value = item.value;
        int index = item.i + 1;
        <tr>
            <td>
                @index.ToString()
            </td>
            <td>
                @value.Type
            </td>
            <td>
                @value.Price.ToString()
            </td>
            <td>
                @Html.ActionLink("Zmień cenę", "Edit", new { id = value.Id })
                @Html.ActionLink("Usuń", "Delete", new { id = value.Id })
            </td>
        </tr>
    }
</table>

<div>
    <br />
    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
