@model IList<Participant>
@using Repository.Models

    @for(int i = 0; i < Model.ToList().Count; i++)
    {
        <tr>
            <td class="col-xs-1">@Html.Label("LP", (i + 1).ToString())</td>
            <td class="col-md-1">
                @Html.EditorFor(model => model[i].Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model[i].Name, "", new { @class = "text-danger" })
            </td>
            <td class="col-md-1">
                @Html.EditorFor(model => model[i].Surname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model[i].Surname, "", new { @class = "text-danger" })
            </td>
            <td class="col-md-9"></td>
        </tr>  
    }