<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Klient"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Moje rezerwacje<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Dodaj", "Create", "ClientReservations")</li>
                                <li>@Html.ActionLink("Lista", "Index", "ClientReservations")</li>
                                <li>@Html.ActionLink("Historia","Index","ClientArchiveReservations")</li>
                            </ul>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Recepcjonista"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rezerwacje<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Lista", "Index", "ReceptionistReservations")</li>
                            </ul>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Poziomy dostępu<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Lista", "Index", "Role")</li>
                                <li>@Html.ActionLink("Uprawnenia użytkowników", "Index", "RoleUsers")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Użytkownicy", "Index", "Users")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Agroturystyka<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Domki<span class="caret"></span></a>
                                    <ul class="dropdown-menu-right" role="menu">
                                        <li>@Html.ActionLink("Lista", "Index", "Houses")</li>
                                        <li>@Html.ActionLink("Rodzaje","Index","HouseTypes")</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("Posiłki", "Index", "Meals")</li>
                                <li>@Html.ActionLink("Warsztaty","Index","Attractions")</li>
                            </ul>
                        </li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
