@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> @User.Identity.GetUserName()<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Zmień hasło", "ChangePassword","Manage")</li>
                <li>@Html.ActionLink("Moje dane osobowe", "Details", "Users", new { id = User.Identity.GetUserId()},null)</li>
                <li>@Html.ActionLink("Edytuj dane osobowe", "EditBaseData", "Users", new { id=User.Identity.GetUserId()},null)</li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
            </ul>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Rejestracja", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}


