@model Repository.Models.Reservation
@using Repository.Models

@{
    ViewBag.Title = "PDFReservation";
}
    <section>
        <div id="DetailsToPDF" style="font-size:14px;">
            <h2 align="center">Rezerwacja @Model.Client.Name @Model.Client.Surname (@Model.Client.Email)</h2>
            <h4>Data rozpoczęcia: @Model.StartDate.ToShortDateString()</h4>
            <h4>Data zakończenia: @Model.EndDate.ToShortDateString()</h4>
            <h4>Termin płatności: @Model.DeadlinePayment.ToShortDateString()</h4>
            <h4>Koszt całkowity: @Model.OverallCost zł</h4>
            <h4>Aktulany status: @Model.Status</h4>

            <h4 style="font-size:16px;">Domki</h4>
            @foreach (Reservation_House resHouse in Model.Reservation_House)
            {
                <div class="itemsReservation">
                    <p style="text-decoration:underline;">Domek: @resHouse.House.HouseType.Type @resHouse.House.Name, Cena: @resHouse.House.HouseType.Price </p>
                    <p style="text-indent:10%;">Posiłek(@resHouse.Meal.Price zł): @resHouse.Meal.Type</p>
                    <div style="text-indent:10%;">
                        Lokatorzy:
                        @foreach(Participant participant in resHouse.Participant)
                        {
                            @participant.Name<span style="display:inline-block;width:5px;"></span>@participant.Surname<span style="display:inline-block;width:10px;"></span>
                        }
                    </div>
                </div>
            }
            <div style="clear:both"/>
            <h4 >Warsztaty</h4>
            @foreach(Attraction_Reservation attrReservation in Model.Attraction_Reservation)
            {
                <div >
                    <p style="text-decoration:underline;">Warsztat: @attrReservation.Attraction.Name</p>
                    <p style="text-indent:10%;">Liczba osób: @attrReservation.QuantityParticipant</p>
                    <p style="text-indent:10%;">Termin: @attrReservation.TermAffair.ToShortDateString()</p>
                    <p style="text-indent:10%;">Koszt: @attrReservation.OverallCost</p>
                </div>
            }
        </div>
    </section>