@model ViewModel.AttractionInstructors
@using ViewModel
@using Newtonsoft.Json

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")

        @foreach (KeyValuePair<DateTime, List<string>> item in Model.AssignedAttractions)
        {
            <script type="text/javascript">
                        var dictionary ={};
                         $(function () {
                             dictionary[@Html.Raw(JsonConvert.SerializeObject(item.Key.ToShortDateString()))] = @Html.Raw(JsonConvert.SerializeObject(item.Value));
                         });
            </script>
        }
        <script>
            $(function() {
                $("input[type='button']").hover( function() {
                    $(this).parent().parent().attr('style','background-color: aqua');
                });
                $("input[type='button']").mouseleave( function() {
                    $(this).parent().parent().attr('style','background-color: lavender');
                });
            })
        </script>
        <link rel="stylesheet" href="~/Content/TimeTableStyleSheet.css" type="text/css" />
    </head>

        <div id="TimeTableDetails" class="form-horizontal">

            <div style="clear:both" />

            <table class="table" border="1" id="TimeTableAttractions">
                <thead>
                    <tr>
                        <td>
                            <p>
                                Terminy
                            </p>
                            <br />
                        </td>
                        @foreach (DateTime date in Model.AssignedAttractions.Keys.ToList())
                        {
                            <td>
                                <p>
                                    <input type="text" name="Term" readonly="readonly" value="@date.ToShortDateString()"  />
                                </p>
                                <p>
                                    <input type="text" name="DayOfWeek" readonly="readonly" value="@(ReservationAttractions.Days[date.DayOfWeek.ToString()])"  />
                                </p>
                            </td>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.MaxRows; i++)
                    {
                        <tr>
                            <td>
                                <p>Atrakcja:</p>
                            </td>
                            @foreach (DateTime date in Model.AssignedAttractions.Keys.ToList())
                            {
                                <td>
                                    @if (i < Model.AssignedAttractions[date].Count)
                                    {
                                        <p>@Model.AssignedAttractions[date][i].Split(';')[1]</p>
                                         <p><input type="button" name="ButtonAttractionDetails" value="Szczegóły" onclick="location.href='@Url.Action("Details", "InstructorAttractions",new { id = @Model.AssignedAttractions[date][i].Split(';')[0] })'" /></p>
                                    }
                                </td>
                            }

                        </tr>
                    }
                </tbody>
            </table>

        </div>


