@model DomainModel.Models.Attraction

@{
    ViewBag.Title = "Delete";
}

@if (ViewBag.error == true)
{
    <div class="alert alert-danger" role="alert">
        Warsztat jest przypisany do co najmniej jednej rezerwacji.
    </div>
}

@if ((string)ViewBag.ConcurrencyErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ConcurrencyErrorMessage
    </div>
}


<h2>Usuń warsztat</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model=>model.Id)
        @Html.HiddenFor(model=>model.RowVersion)
        @Html.HiddenFor(model=>model.Description)
        @Html.HiddenFor(model=>model.Discount)
        @Html.HiddenFor(model=>model.Price)
        @Html.HiddenFor(model=>model.Name)

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć", "Index")
        </div>
    }
</div>
