@{
    ViewBag.Title = "Home Page";
}

@if ((string)ViewBag.ExpiredSessionMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ExpiredSessionMessage
    </div>
}

<div class="jumbotron">
    <h2>Gospodarstwo agroturystyczne Wiejska Chatka</h2>
    <p class="lead"></p>
    <p><a href="@Url.Action("About")" class="btn btn-primary btn-lg">Historia &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Posiłki</h2>
        <p>
            Nasze gospodarstwo serwuje różnorodne posiłki składające się z naturalnych składników dojrzewających w naszych sadach i ogrodach.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Meals")">Rodzaje posiłków &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Domki</h2>
        <p>Nasza baza domków została zaprojektowana z myślą zarówno o większych jak i mniejszych rodzinach. Każdy z naszych domków posiada określoną nazwią związaną z jego wnętrzem.</p>
        <p><a class="btn btn-default" href="@Url.Action("Houses")">Rodzaje domków &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Warsztaty</h2>
        <p>Nasz ośrodek posiada także bazę pozwalającą ogranizować różnorodne imprezy oraz warsztaty. Pobyt wraz z takimi atrakcjami staje się dużo bardziej ciekawszy i pozostawia miłe wspomnienia.</p>
        <p><a class="btn btn-default" href="@Url.Action("Attractions")">Warsztaty &raquo;</a></p>
    </div>
</div>