@model DomainModel.Models.Meal


@{
    ViewBag.Title = "Delete";
}

@if (ViewBag.error == true)
{
    <div class="alert alert-danger" role="alert">
        Istnieją domki z przypisanym posiłkiem.
    </div>
}

@if ((string)ViewBag.ConcurrencyErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ConcurrencyErrorMessage
    </div>
}

<h2>Usuń posiłek</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model=>model.Id)
        @Html.HiddenFor(model=>model.RowVersion)
        @Html.HiddenFor(model=>model.Price)
        @Html.HiddenFor(model=>model.Type)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Wróć", "Index")
        </div>
    }
</div>
