@model PagedList.IPagedList<Repository.Models.Meal>
@using PagedList.Mvc
@using Repository.Models

@{
    ViewBag.Title = "Index";
}

<h2>Lista posiłków</h2>

<p>
    @Html.ActionLink("Dodaj nowy", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Price)
        </th>
        <th></th>
    </tr>

@foreach (Meal item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>

<div>
    <br />
    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
