@model Repository.Models.House

@{
    ViewBag.Title = "Delete";
}

@if (ViewBag.error == true)
{
    <div class="alert alert-danger" role="alert">
        Domek aktualnie jest zajęty lub zarezerwowany.
    </div>
}

@if ((string)ViewBag.ConcurrencyErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ConcurrencyErrorMessage
    </div>
}

<h2>Usuń domek</h2>

<h3>Jesteś pewien?</h3>
<div>
    <h4>Domek</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RowVersion)
        @Html.HiddenFor(model=>model.Description)
        @Html.HiddenFor(model=>model.Name)

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć", "Index")
        </div>
    }
</div>
