@model PagedList.IPagedList<ViewModel.HouseDetails>
@using PagedList.Mvc
@using ViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Lista domków</h2>


<table class="table" >
    <tr>
        <th>
            @Html.DisplayName("LP")
        </th>
        <th>
            @Html.DisplayNameFor(model=>model[0].House.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].House.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model[0].Type)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model[0].Price)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model[0].House.statusHouse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Select((value, i) => new { i, value })) {
    HouseDetails value = item.value;
    int index = item.i+1;
    <tr>
        <td>
            @index.ToString()
        </td>
        <td>
            @value.House.Name
        </td>
        <td>
            @value.House.Description
        </td>
        <td>
            @value.Type
        </td>
        <td>
            @value.Price.ToString()
        </td>
        <td>
            @value.House.statusHouse
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=value.House.Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id=value.House.Id })
        </td>
    </tr>
}
</table>

<div>
    <br />
    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
