@model IEnumerable<Repository.ViewModels.HouseDetails>
@using Repository.ViewModels;

@{
    ViewBag.Title = "Index";
}

<h2>Lista domków</h2>

<p>
    @Html.ActionLink("Dodaj domek", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("LP")
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.House.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.House.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.House.statusHouse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Select((value, i) => new { i, value })) {
    HouseDetails value = item.value;
    int index = item.i+1;
    <tr>
        <td>
            @index.ToString()
        </td>
        <td>
            @value.House.Name
        </td>
        <td>
            @value.House.Description
        </td>
        <td>
            @value.Type
        </td>
        <td>
            @value.Price.ToString()
        </td>
        <td>
            @value.House.statusHouse
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=value.House.Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id=value.House.Id })
        </td>
    </tr>
}

</table>
