@model ViewModel.RoleUser

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń poziom dostępu</h2>

@if (ViewBag.error == true)
{
    <div class="alert alert-danger" role="alert">
       Nie można usunąć ostatniego administratora
    </div>
}


<div>
    <h4>Użytkownik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectedRoleText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectedRoleText)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć", "Index")
        </div>
    }
</div>
