@model Repository.ViewModels.RolesUsers

@using Repository.Models;
@using Microsoft.AspNet.Identity.EntityFramework;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model=>model.Users.First().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Users.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.First().Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.First().BirthDate)
        </th>
        <th>
            @Html.DisplayName("Poziomy dostępu")
        </th>
        <th></th>
    </tr>

    @foreach (User user in Model.Users) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => user.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => user.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => user.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => user.BirthDate)
        </td>
        <td>
            @foreach (IdentityUserRole userRole in user.Roles)
            {
            <ul>
                <li>
                    <p>
                        @Model.Roles[userRole.RoleId]
                        @Html.ActionLink("Delete", "Delete", new { userId = user.Id, SelectedRoleText = Model.Roles[userRole.RoleId]})
                    </p>
                </li>
            </ul>
            }
        </td>
        <td>
            @if (Model.Roles.Count != user.Roles.Count)
            {
            @Html.ActionLink("Dodaj poziom dostępu", "Create", new { id = user.Id })
            }
        </td>
    </tr>
    }

</table>
