@model PagedList.IPagedList<Repository.ViewModels.RolesUser>
@using PagedList.Mvc
@using Repository.ViewModels

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model=>model[0].Email)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].BirthDate)
        </th>
        <th>
            @Html.DisplayName("Poziomy dostępu")
        </th>
        <th></th>
    </tr>

    @foreach (RolesUser user in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => user.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => user.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => user.Surname)
        </td>
        <td>
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", user.BirthDate))
        </td>
        <td>
            @foreach (string userRole in user.Roles)
            {
            <ul>
                <li>
                    <p>
                        @userRole
                        @Html.ActionLink("Delete", "Delete", new { userId = user.Id, SelectedRoleText = userRole})
                    </p>
                </li>
            </ul>
            }
        </td>
        <td>
            @if (user.Roles.Count <=1)
            {
            @Html.ActionLink("Dodaj poziom dostępu", "Create", new { id = user.Id })
            }
        </td>
    </tr>
    }

</table>

<div>
    <br />
    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
