@model Dictionary<string,List<SelectListItem>>

@{
    ViewBag.Title = "AddMeals";
}

<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function handler(e) {
            var source = e.srcElement.id;
            if (source == 'MealsSelectedHousesMeals')
            {
                detectChangeInSelectedHousesMeals();
            }
        }
    </script>

    <script type="text/javascript">
        function detectChangeInSelectedHousesMeals() {
            var index = $('#MealsSelectedHousesMeals').get(0).selectedIndex;
            var selectedValue = $('#ListBoxSelectedHousesMeals option:eq(' + index + ')').text();

            var labelMealType = document.getElementById('labelMealType');
            labelMealType.innerHTML = selectedValue.split(';')[1].split('(')[0];

            var regExp = /\(([^)]+)\)/;
            var matches = regExp.exec((selectedValue.split(';')[1]));
            var labelMealPrice = document.getElementById('labelMealPrice');
            labelMealPrice.innerHTML = matches[1];
        }
    </script>

    <script type="text/javascript">
            function checkStateDropDownLists(avaiable,selected) {
                if (avaiable < 1) {
                    document.getElementById("btnAddHouseMeal").style.visibility = 'hidden';
                    document.getElementById('btnConfirmHousesMeals').style.visibility = 'visible'
                }
                else {
                    document.getElementById("btnAddHouseMeal").style.visibility = 'visible';
                    document.getElementById('btnConfirmHousesMeals').style.visibility = 'hidden'
                }
                if (selected < 1) {
                    document.getElementById("btnRemoveSelectedHouseMeal").style.visibility = 'hidden';
                }
                else {
                    document.getElementById("btnRemoveSelectedHouseMeal").style.visibility = 'visible';
                    detectChangeInSelectedHousesMeals();
                }
            }
    </script>

    <script type="text/javascript">
        $(function () {
            $("#btnAddHouseMeal").click(function () {
                var selectedHouses = document.getElementById('MealsSelectedHouses');
                var selectedHouseValue = selectedHouses.options[selectedHouses.selectedIndex].value;
                selectedHouses.remove(selectedHouses.selectedIndex);

                var avaiableMeals = document.getElementById('MealsAvaiableMeals');
                var selectedMealValue = avaiableMeals.options[avaiableMeals.selectedIndex].value;

                var selectedHouseMeal = document.getElementById('MealsSelectedHousesMeals');
                var option = document.createElement('option');
                option.text = option.value = selectedHouseValue;
                option.selected = true;
                selectedHouseMeal.add(option, 0);

                var listBox = document.getElementById('ListBoxSelectedHousesMeals');
                var option2 = document.createElement('option');
                option2.text = option2.value = selectedHouseValue + selectedMealValue;
                option2.selected = true;
                listBox.add(option2, 0);

                var labelMealType = document.getElementById('labelMealType');
                labelMealType.innerHTML = selectedMealValue.split('(')[0];

                var labelMealPrice = document.getElementById('labelMealPrice');
                var regExp = /\(([^)]+)\)/;
                var matches = regExp.exec((selectedMealValue));
                labelMealPrice.innerHTML = matches[1];

                var labelOverallCost = document.getElementById('mealsOverallCost');
                var number = parseInt(labelOverallCost.value, 10);
                number += parseInt(matches[1].split('[')[0], 10) * parseInt(selectedHouseValue.split('-')[0], 10) * parseInt(@ViewBag.StayLength,10);
                labelOverallCost.value = number;

                checkStateDropDownLists(document.getElementById('MealsSelectedHouses').length, document.getElementById('MealsSelectedHousesMeals').length);
            });
            checkStateDropDownLists(document.getElementById('MealsSelectedHouses').length, document.getElementById('MealsSelectedHousesMeals').length);
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#btnRemoveSelectedHouseMeal").click(function () {
                var selectedValue = $('#MealsSelectedHousesMeals option:selected').text();
                var index = $('#MealsSelectedHousesMeals').get(0).selectedIndex;
                $('#MealsSelectedHousesMeals option:eq(' + index + ')').remove();

                var listBox = document.getElementById('ListBoxSelectedHousesMeals');
                $('#ListBoxSelectedHousesMeals option:eq(' + index + ')').remove();

                var labelMealType = document.getElementById('labelMealType');
                var labelMealPrice = document.getElementById('labelMealPrice');
                var regExp = /\(([^)]+)\)/;
                var matches = regExp.exec($('#ListBoxSelectedHousesMeals option:selected').text().split(';')[1]);

                var labelOverallCost = document.getElementById('mealsOverallCost');
                var number = parseInt(labelOverallCost.value, 10);
                number -= parseInt(labelMealPrice.innerHTML.split('[')[0], 10) * parseInt(selectedValue.split('-')[0], 10)*parseInt(@ViewBag.StayLength,10);
                labelOverallCost.value = number;

                if ($('#MealsSelectedHousesMeals>option').length >= 1)
                {
                    labelMealType.innerHTML = $('#ListBoxSelectedHousesMeals option:selected').text().split(';')[1].split('(')[0];
                    labelMealPrice.innerHTML = matches[1];
                }
                else
                {
                    labelMealType.innerHTML = 'Wybrany posiłek';
                    labelMealPrice.innerHTML = 'Cena posiłku';
                }



                $('#MealsSelectedHouses')
                        .append($("<option></option>")
                        .attr("selected", "selected")
                        .text(selectedValue)
                        .val(selectedValue));
                checkStateDropDownLists(document.getElementById('MealsSelectedHouses').length, document.getElementById('MealsSelectedHousesMeals').length);
            });
        });
    </script>

</head>

<h2>Wybierz posiłki</h2>

@using (Html.BeginForm((ViewBag.ReservationId!= 0?"EditMeals":"AddMeals"), "ReservationDetails",new { isMealsConfirmed=true }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Domek</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Wybrane domki", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MealsSelectedHouses", Model["SelectedHouses"], new { id= "MealsSelectedHouses" })
            </div>

        </div>

        <div class="form-group">
            @Html.Label("Liczba dni", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="mealsStayLength" name="mealsStayLength" readonly="readonly" value="@ViewBag.StayLength" />
            </div>

        </div>

        <div class="form-group">
            @Html.Label("Dostępne posiłki", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MealsAvaiableMeals", Model["AvaiableMeals"], new { id= "MealsAvaiableMeals" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Wybrane posiłki", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MealsSelectedHousesMeals", Model["SelectedMeals"], new { id= "MealsSelectedHousesMeals", onchange="handler(event)" })
                @Html.Label("Wybrany posiłek",new { id= "labelMealType", style = "border: 1px solid black;font-weight: normal;" })
                @Html.Label("Cena posiłku", new { id = "labelMealPrice", style = "border: 1px solid black;font-weight: normal;" })
                <input type="button" id="btnRemoveSelectedHouseMeal" value="Usuń zaznaczenie" />
            </div>

        </div>

        <div id="DivMealsOverallCost">
            @Html.Label("Całkowity koszt", htmlAttributes: new { @class = "control-label col-md-2" })
            <input type="text" id="mealsOverallCost" name="mealsOverallCost" readonly="readonly" value="@ViewBag.OverallCost" />
        </div>

        <input type="hidden" id="reservationId" name="reservationId" value="@ViewBag.ReservationId"/>

        @Html.ListBox("ListBoxSelectedHousesMeals",Model["SelectedMealsListBox"],new { id= "ListBoxSelectedHousesMeals", style="visibility:hidden"})

        <div class="form-group">
            <div class="col-md-10">
                <input type="button" id="btnAddHouseMeal" value="Dodaj posiłek" class="btn btn-default" />
                <input type="submit" id="btnConfirmHousesMeals" value="Potwierdź posiłki" class="btn btn-default" style="visibility:hidden" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Wróć", (ViewBag.ReservationId!=0?"Edit":"Create"),"ClientReservations",new { id=(ViewBag.ReservationId != 0?ViewBag.ReservationId : null) },null)
</div>
