@model DomainModel.Models.User

@{
    ViewBag.Title = "Delete";
}

@if (ViewBag.error == true)
{
    <div class="alert alert-danger" role="alert">
        Nie można usunąć ostatniego administratora
    </div>
}

@if ((string)ViewBag.ConcurrencyErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ConcurrencyErrorMessage
    </div>
}

<h2>Usuń użytkownika</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model=>model.Email)
        @Html.HiddenFor(model=>model.Name)
        @Html.HiddenFor(model=>model.Surname)
        @Html.HiddenFor(model=>model.BirthDate)
        <input type="hidden" id="DeleteSecurityStamp" name="DeleteSecurityStamp" value="@Model.SecurityStamp" />


        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć", "Index")
        </div>
    }
</div>
