@model Repository.Models.User

@{
    ViewBag.Title = "Edit";
}


<head>
    @Scripts.Render("~/bundles/jquery")    
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    @Scripts.Render("~/bundles/jqueryval")


    <script >
        $(function () {
            $("form").submit(function () {
                var isUserEmployed = $('#IsUserEmployed').val();
                if (isUserEmployed === 'True')
                {
                    var selTypeText = $('#SelectProfession option:selected').text();
                    $("#Profession").val(selTypeText);
                }
                var userName = $('#Email').val();
                $('#UserName').val(userName);
                
            });
        });
    </script>

    @if(Model.isUserEmployed ==true)
    {
        <script>
            $(function () {
                $('#IsUserEmployed').val('True');
            });
        </script>
    }
    else
    {
        <script>
            $(function () {
                $('#IsUserEmployed').val('False');
            });
        </script>
    }

</head>

<h2>Edytuj dane osobowe</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

            @Html.Partial("~/Views/Shared/_EditBaseDataPartial.cshtml",Model)


            @if (User.IsInRole("Admin") && Model.isUserEmployed)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.HireDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @if (Model.HireDate.HasValue)
                        {
                            <input class="text-box single-line" data-val="true" data-val-date="The field HireDate must be a date." id="HireDate" name="HireDate" type="date" value=@Model.HireDate.Value.ToShortDateString() />
                        }
                        else
                        {
                            <input class="text-box single-line" data-val="true" data-val-date="The field HireDate must be a date." id="HireDate" name="HireDate" type="date" />
                        }
                            
                        @Html.ValidationMessageFor(model => model.HireDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Profession, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("SelectProfession", ((ViewData["Professions"] as List<string>)).ToList().Select(item => new SelectListItem { Text = item, Value = item, Selected = item.Equals(@Model.Profession) ? true : false }).ToList(), new { id = "SelectProfession" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                       @{ Html.EnableClientValidation(false); }
                    @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { id = "SalaryEdit", @class = "form-control" } })
                    @{ Html.EnableClientValidation(true); }
                    </div>
                </div>
            }
            @if (!Model.isUserEmployed)
            {
                Html.HiddenFor(model => model.Salary);
                Html.HiddenFor(model => model.Profession);
            }

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </div>

        @Html.HiddenFor(model=>model.Profession)
        @Html.HiddenFor(model=>model.UserName)
        <input type="hidden" id="EditSecurityStamp" name="EditSecurityStamp" value="@Model.SecurityStamp"/>
        <input type="hidden" id="IsUserEmployed" name="IsUserEmployed" value=""/>

}
<div>
    @Html.ActionLink("Wróć", "Index")
</div>

